.header {
  width: 100%;
  height: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  font-size: small;
  padding: 1rem;
}

.header div {
  font-size: 1.5rem;
  font-weight: 700;
}

.header div span {
  color: #0070f3;
}
