.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.correctLetter {
  background-color: green;
}

.incorrectLetter {
  background-color: red;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* visibility: hidden; */
}

.input:focus {
  outline: none;
}

.input:active {
  visibility: visible;
}
